<!DOCTYPE html>
<head>
<title>Pizzeria Juan</title>
</head>

<body>
	<h1>Tu pedido es el siguiente</h1>
	
	<table>
		<th>
			<tr> Dirección : <%=@direccion%></tr>
			<tr> Teléfono : <%=@telefono%></tr>
			<tr> Tamaño : <%=@tamaño%></tr>
			<tr> Ingredientes: <%=@ingredientes%></tr>
		</th>
		
	</table>
	
	<h2>El precio de su pedido es <%=@precio%></h2>
	
</body>

</html>
